In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("conoco_phillips.xlsx")
df.dropna(how='all', inplace=True)

In [3]:
df

,Data provided by SimFin,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
1,Profit & Loss statement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,in million USD,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
3,NaN,Sales and other operating revenues,5348,6415,6809,7518,6781,6688,8119,8798,8504,9449,9666,9150,7953,7756,7708,6158
4,NaN,Equity in earnings of affiliates,80,-60,181,200,178,196,198,208,265,294,307,188,173,290,128,234
5,NaN,Gain on dispositions,128,51,158,22,1876,246,33,7,55,113,888,17,82,1785,82,-42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,NaN,Other,-41,-14,-44,-16,-48,-16,-32,-32,-16,-63,-12,-14,-41,-18,-46,-24
102,NaN,Net cash used in continuing financing activities,-1120,-3017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,Net cash used in financing activities,NaN,2670,-1906,-1344,-4599,-3827,-2586,-3776,-3003,-1263,-1317,-1173,-1654,-1132,-1270,-1230
104,NaN,Effect of exchange rate changes on cash and ca...,-20,19,-70,27,76,141,-12,125,-139,-26,-77,75,-49,-94,22,-122
105,NaN,Net change in cash and cash equivalents,-2003,1227,-480,-501,4425,-623,-586,-1330,-1749,483,2211,319,-273,1261,-2096,-1179

Noting indexes of the profit and Loss Statement

In [4]:
index_PL = df.loc[df["Data provided by SimFin"] == 'Profit & Loss statement'].index[0]
index_BS = df.loc[df["Data provided by SimFin"] == 'Balance Sheet'].index[0]
index_CFS = df.loc[df["Data provided by SimFin"] == 'Cash Flow statement'].index[0]

print ("index_PL: " + str(index_PL))
print ("index_BS: " + str(index_BS))
print ("index_CFS: " + str(index_CFS))

index_PL: 1
index_BS: 26
index_CFS: 67

In [5]:
df_PL = df.iloc[index_PL:index_BS-2, 1:]
print(df_PL)

                                           Unnamed: 1 Unnamed: 2 Unnamed: 3  \
2                                      in million USD     Q2 '16     Q3 '16
3                  Sales and other operating revenues       5348       6415
4                    Equity in earnings of affiliates         80        -60
5                                Gain on dispositions        128         51
6                                        Other income         19        110
7                     Total revenues and other income       5575       6516
8                               Purchased commodities       2002       2819
9                   Production and operating expenses       1445       1526
10       Selling, general and administrative expenses        167        203
11                               Exploration expenses        610        457
12           Depreciation, Depletion and Amortization       2329       2425
13                                        Impairments         62        123
14                      Taxes Other Than Income Taxes        197        161
15                Accretion on discounted liabilities        112        108
16                          Interest and debt expense        312        335
17        Foreign currency transaction (gains) losses        -17         13
18                                      Other expense        NaN        NaN
19                           Total costs and expenses       7219       8170
20                  INCOME (LOSS) BEFORE INCOME TAXES      -1644      -1654
21               Provision (benefit) for income taxes       -586       -628
22                                  Net Income (Loss)      -1058      -1026
23  Less: Net income attributable to noncontrollin...        -13        -14
24   Net Income (Loss) Attributable to ConocoPhillips      -1071      -1040

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
2      Q4 '16     Q1 '17     Q2 '17     Q3 '17     Q4 '17     Q1 '18
3        6809       7518       6781       6688       8119       8798
4         181        200        178        196        198        208
5         158         22       1876        246         33          7
6         106         31         47         65        386        -52
7        7254       7771       8882       7195       8736       8961
8        2948       3192       2922       2926       3435       3714
9        1318       1291       1325       1222       1324       1171
10        -83         97         95        110        125         99
11        340        550         97         73        214         95
12       2061       1979       1625       1608       1633       1412
13       -182        175       6294          6        126         12
14        201        231        198        175        205        183
15         96         95         92         89         86         88
16        317        315        306        251        226        184
17        -31         10         13          5          7         30
18        277         68        276         77         30        197
19       7262       8003      13243       6542       7411       7185
20         -8       -232      -4361        653       1325       1776
21         11       -831       -935        217       -273        876
22        -19        599      -3426        436       1598        900
23        -16        -13        -14        -16        -19        -12
24        -35        586      -3440        420       1579        888

   Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15  \
2       Q2 '18      Q3 '18      Q4 '18      Q1 '19      Q2 '19      Q3 '19
3         8504        9449        9666        9150        7953        7756
4          265         294         307         188         173         290
5           55         113         888          17          82        1785
6          416         309        -500         702         172         262
7         9240       10165       10361       10057        8380       10093
8         3064        3530        3986        3675        2674        2710
9         1313        1367        1362        1271        1418        1331
10         118         119          65         153         129          87
11          69         103         102         110         122         360
12        1438        1494        1612        1546        1490        1566
13         -35          44           6           1           1          24
14         273         312         280         275         194         237
15          89          89          87          86          87          86
16         177         186         188         233         165         184
17         -28           5         -24          12          28         -21
18         143          10          25           8          14          36
19        6621        7259        7689        7370        6322        6600
20        2619        2906        2672        2687        2058        3493
21         965        1033         794         841         461         422
22        1654        1873        1878        1846        1597        3071
23         -14         -12         -10         -13         -17         -15
24        1640        1861        1868        1833        1580        3056

   Unnamed: 16 Unnamed: 17
2       Q4 '19      Q1 '20
3         7708        6158
4          128         234
5           82         -42
6          222       -1539
7         8140        4811
8         2783        2661
9         1302        1173
10         187          -3
11         151         188
12        1488        1411
13         379         521
14         247         250
15          67          67
16         196         202
17          47         -90
18           7          -6
19        6854        6374
20        1286       -1563
21         543         148
22         743       -1711
23         -23         -28
24         720       -1739

In [6]:
df_PL.columns = df_PL.iloc[0]

In [7]:
df_PL

2,in million USD,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
2,in million USD,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
3,Sales and other operating revenues,5348,6415,6809,7518,6781,6688,8119,8798,8504,9449,9666,9150,7953,7756,7708,6158
4,Equity in earnings of affiliates,80,-60,181,200,178,196,198,208,265,294,307,188,173,290,128,234
5,Gain on dispositions,128,51,158,22,1876,246,33,7,55,113,888,17,82,1785,82,-42
6,Other income,19,110,106,31,47,65,386,-52,416,309,-500,702,172,262,222,-1539
7,Total revenues and other income,5575,6516,7254,7771,8882,7195,8736,8961,9240,10165,10361,10057,8380,10093,8140,4811
8,Purchased commodities,2002,2819,2948,3192,2922,2926,3435,3714,3064,3530,3986,3675,2674,2710,2783,2661
9,Production and operating expenses,1445,1526,1318,1291,1325,1222,1324,1171,1313,1367,1362,1271,1418,1331,1302,1173
10,"Selling, general and administrative expenses",167,203,-83,97,95,110,125,99,118,119,65,153,129,87,187,-3
11,Exploration expenses,610,457,340,550,97,73,214,95,69,103,102,110,122,360,151,188
12,"Depreciation, Depletion and Amortization",2329,2425,2061,1979,1625,1608,1633,1412,1438,1494,1612,1546,1490,1566,1488,1411
13,Impairments,62,123,-182,175,6294,6,126,12,-35,44,6,1,1,24,379,521
14,Taxes Other Than Income Taxes,197,161,201,231,198,175,205,183,273,312,280,275,194,237,247,250
15,Accretion on discounted liabilities,112,108,96,95,92,89,86,88,89,89,87,86,87,86,67,67
16,Interest and debt expense,312,335,317,315,306,251,226,184,177,186,188,233,165,184,196,202
17,Foreign currency transaction (gains) losses,-17,13,-31,10,13,5,7,30,-28,5,-24,12,28,-21,47,-90
18,Other expense,NaN,NaN,277,68,276,77,30,197,143,10,25,8,14,36,7,-6
19,Total costs and expenses,7219,8170,7262,8003,13243,6542,7411,7185,6621,7259,7689,7370,6322,6600,6854,6374
20,INCOME (LOSS) BEFORE INCOME TAXES,-1644,-1654,-8,-232,-4361,653,1325,1776,2619,2906,2672,2687,2058,3493,1286,-1563
21,Provision (benefit) for income taxes,-586,-628,11,-831,-935,217,-273,876,965,1033,794,841,461,422,543,148
22,Net Income (Loss),-1058,-1026,-19,599,-3426,436,1598,900,1654,1873,1878,1846,1597,3071,743,-1711
23,Less: Net income attributable to noncontrollin...,-13,-14,-16,-13,-14,-16,-19,-12,-14,-12,-10,-13,-17,-15,-23,-28
24,Net Income (Loss) Attributable to ConocoPhillips,-1071,-1040,-35,586,-3440,420,1579,888,1640,1861,1868,1833,1580,3056,720,-1739

In [8]:
df_PL.fillna(0, inplace=True)

In [9]:
df_PL

2,in million USD,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
2,in million USD,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
3,Sales and other operating revenues,5348,6415,6809,7518,6781,6688,8119,8798,8504,9449,9666,9150,7953,7756,7708,6158
4,Equity in earnings of affiliates,80,-60,181,200,178,196,198,208,265,294,307,188,173,290,128,234
5,Gain on dispositions,128,51,158,22,1876,246,33,7,55,113,888,17,82,1785,82,-42
6,Other income,19,110,106,31,47,65,386,-52,416,309,-500,702,172,262,222,-1539
7,Total revenues and other income,5575,6516,7254,7771,8882,7195,8736,8961,9240,10165,10361,10057,8380,10093,8140,4811
8,Purchased commodities,2002,2819,2948,3192,2922,2926,3435,3714,3064,3530,3986,3675,2674,2710,2783,2661
9,Production and operating expenses,1445,1526,1318,1291,1325,1222,1324,1171,1313,1367,1362,1271,1418,1331,1302,1173
10,"Selling, general and administrative expenses",167,203,-83,97,95,110,125,99,118,119,65,153,129,87,187,-3
11,Exploration expenses,610,457,340,550,97,73,214,95,69,103,102,110,122,360,151,188
12,"Depreciation, Depletion and Amortization",2329,2425,2061,1979,1625,1608,1633,1412,1438,1494,1612,1546,1490,1566,1488,1411
13,Impairments,62,123,-182,175,6294,6,126,12,-35,44,6,1,1,24,379,521
14,Taxes Other Than Income Taxes,197,161,201,231,198,175,205,183,273,312,280,275,194,237,247,250
15,Accretion on discounted liabilities,112,108,96,95,92,89,86,88,89,89,87,86,87,86,67,67
16,Interest and debt expense,312,335,317,315,306,251,226,184,177,186,188,233,165,184,196,202
17,Foreign currency transaction (gains) losses,-17,13,-31,10,13,5,7,30,-28,5,-24,12,28,-21,47,-90
18,Other expense,0,0,277,68,276,77,30,197,143,10,25,8,14,36,7,-6
19,Total costs and expenses,7219,8170,7262,8003,13243,6542,7411,7185,6621,7259,7689,7370,6322,6600,6854,6374
20,INCOME (LOSS) BEFORE INCOME TAXES,-1644,-1654,-8,-232,-4361,653,1325,1776,2619,2906,2672,2687,2058,3493,1286,-1563
21,Provision (benefit) for income taxes,-586,-628,11,-831,-935,217,-273,876,965,1033,794,841,461,422,543,148
22,Net Income (Loss),-1058,-1026,-19,599,-3426,436,1598,900,1654,1873,1878,1846,1597,3071,743,-1711
23,Less: Net income attributable to noncontrollin...,-13,-14,-16,-13,-14,-16,-19,-12,-14,-12,-10,-13,-17,-15,-23,-28
24,Net Income (Loss) Attributable to ConocoPhillips,-1071,-1040,-35,586,-3440,420,1579,888,1640,1861,1868,1833,1580,3056,720,-1739

In [10]:
df_PL.index

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19, 20, 21, 22, 23, 24],
           dtype='int64')

In [11]:
df_PL = df_PL[1:]
#removing the first row that is obsolete

In [12]:
df_PL.set_index("in million USD", inplace=True)

In [13]:
df_PL

2,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
in million USD,,,,,,,,,,,,,,,,
Sales and other operating revenues,5348,6415,6809,7518,6781,6688,8119,8798,8504,9449,9666,9150,7953,7756,7708,6158
Equity in earnings of affiliates,80,-60,181,200,178,196,198,208,265,294,307,188,173,290,128,234
Gain on dispositions,128,51,158,22,1876,246,33,7,55,113,888,17,82,1785,82,-42
Other income,19,110,106,31,47,65,386,-52,416,309,-500,702,172,262,222,-1539
Total revenues and other income,5575,6516,7254,7771,8882,7195,8736,8961,9240,10165,10361,10057,8380,10093,8140,4811
Purchased commodities,2002,2819,2948,3192,2922,2926,3435,3714,3064,3530,3986,3675,2674,2710,2783,2661
Production and operating expenses,1445,1526,1318,1291,1325,1222,1324,1171,1313,1367,1362,1271,1418,1331,1302,1173
"Selling, general and administrative expenses",167,203,-83,97,95,110,125,99,118,119,65,153,129,87,187,-3
Exploration expenses,610,457,340,550,97,73,214,95,69,103,102,110,122,360,151,188
"Depreciation, Depletion and Amortization",2329,2425,2061,1979,1625,1608,1633,1412,1438,1494,1612,1546,1490,1566,1488,1411
Impairments,62,123,-182,175,6294,6,126,12,-35,44,6,1,1,24,379,521
Taxes Other Than Income Taxes,197,161,201,231,198,175,205,183,273,312,280,275,194,237,247,250
Accretion on discounted liabilities,112,108,96,95,92,89,86,88,89,89,87,86,87,86,67,67
Interest and debt expense,312,335,317,315,306,251,226,184,177,186,188,233,165,184,196,202
Foreign currency transaction (gains) losses,-17,13,-31,10,13,5,7,30,-28,5,-24,12,28,-21,47,-90
Other expense,0,0,277,68,276,77,30,197,143,10,25,8,14,36,7,-6
Total costs and expenses,7219,8170,7262,8003,13243,6542,7411,7185,6621,7259,7689,7370,6322,6600,6854,6374
INCOME (LOSS) BEFORE INCOME TAXES,-1644,-1654,-8,-232,-4361,653,1325,1776,2619,2906,2672,2687,2058,3493,1286,-1563
Provision (benefit) for income taxes,-586,-628,11,-831,-935,217,-273,876,965,1033,794,841,461,422,543,148
Net Income (Loss),-1058,-1026,-19,599,-3426,436,1598,900,1654,1873,1878,1846,1597,3071,743,-1711
Less: Net income attributable to noncontrolling interests,-13,-14,-16,-13,-14,-16,-19,-12,-14,-12,-10,-13,-17,-15,-23,-28
Net Income (Loss) Attributable to ConocoPhillips,-1071,-1040,-35,586,-3440,420,1579,888,1640,1861,1868,1833,1580,3056,720,-1739

In [14]:
df_BS = df.iloc[index_BS-1:index_CFS-3, 1:]
df_BS.columns = df_BS.iloc[0]
df_BS.fillna(0, inplace=True)

df_BS = df_BS[1:]
df_BS.set_index("in million USD", inplace=True)
df_BS

27,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
in million USD,,,,,,,,,,,,,,,,
Assets,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Cash and cash equivalents,2863,4090,3610,3109,7534,6911,6325,4984,3234,3716,5915,6218,5941,7193,5088,3908
Short-term investments,1289,234,50,252,2733,2696,1873,288,612,875,248,249,732,908,3028,3866
Accounts and notes receivable (net of allowance),3144,3163,3249,3105,3020,3222,4179,4032,3750,4319,3920,3701,3490,3478,3267,2116
Accounts and notes receivable-related parties,172,157,165,254,143,142,141,160,180,180,147,168,161,138,134,148
Investment in LUKOIL,0,0,0,0,1533,2084,1899,1776,2159,2086,1462,0,0,0,0,0
Inventories,1150,1108,1018,1097,1019,1023,1060,1053,1093,1239,1007,1014,1089,955,1026,726
Investment in Cenovus Energy,0,0,0,0,0,0,0,0,0,0,0,1805,1835,1951,2111,420
Prepaid expenses and other current assets,641,889,517,2911,3897,876,1035,894,580,2308,575,528,2552,594,2259,1960
Total current assets,9259,9641,8609,10728,19879,16954,16512,13187,11608,14723,13274,13683,15800,15217,16913,13144
Investments and long-term receiavables,21385,21283,21091,21153,9681,9696,9599,9572,9435,9553,9329,9302,8748,8916,8687,8707
Loans and advances-related parties,639,581,581,522,522,461,461,399,399,335,335,268,268,219,219,167
"Net properties, plants and equipment (net of accumulated D&A)",63685,61649,58331,54440,46846,46669,45683,45997,46306,44736,45698,45942,44334,43814,42269,40645
Other assets,1086,1130,1160,1130,1076,1081,1107,1572,1188,1209,1344,2303,2111,2174,2426,2370
Total assets,96054,94284,89772,87973,78004,74861,73362,70727,68936,70556,69980,71498,71261,70340,70514,65033
Liabilities,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Accounts payable,3746,3686,3631,3494,3401,3378,4009,3824,3642,3887,3863,3815,3618,3148,3176,2900
Accounts payable-related parties,72,65,22,37,33,38,21,62,24,31,32,31,17,23,24,21
Short-term debt,1331,1336,1089,1095,3798,1331,2575,337,89,95,112,113,114,121,105,126
Accrued income and other taxes,554,394,484,756,791,1005,1038,1341,1301,1582,1320,1539,1213,1077,1030,853
Employee benefit obligations,538,757,689,465,509,528,725,408,511,626,809,470,529,543,663,323
Other accruals,1107,1299,994,1679,1394,851,1029,1137,1071,1180,1259,1402,3505,1030,2045,1852
Total current liabilities,7348,7537,6909,7526,9926,7131,9397,7109,6638,7401,7395,7370,8996,5942,7043,6075
Long-term debt,27346,27353,26186,25340,19670,19673,17128,16709,14885,14902,14856,14832,14809,14799,14790,14847
Long-term asset retirement obligations and accrued environmental costs,9820,9820,8425,7884,7631,7763,7631,7789,7665,7554,7688,7730,5996,6087,5352,5316
Deferred income taxes,9655,9034,8949,7568,6335,6262,5282,5409,5534,5535,5021,5043,4825,4693,4634,4141
Employee benefit obligations,2533,2471,2552,2534,2499,1903,1854,1832,1774,1755,1764,1704,1689,1786,1781,1563
Other liabilities and deferred credits,1521,1613,1525,1520,1444,1417,1269,1161,1218,1330,1192,1838,1872,1794,1864,1704
Total liabilities,58223,57828,54546,52372,47505,44149,42561,40009,37714,38477,37916,38517,38187,35101,35464,33646
Common stock,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Capital in excess of par,46429,46480,46507,46510,46558,46595,46622,46642,46746,46858,46879,46877,46922,46954,46983,47027
Treasury stock (at cost),-36780,-36780,-36906,-37018,-37981,-38951,-39906,-40406,-41052,-41979,-42905,-43656,-44906,-45656,-46405,-47130
Accumulated other comprehensive income (loss),-5371,-5444,-6193,-5961,-6342,-5292,-5518,-5371,-5637,-5442,-6063,-5914,-5827,-5654,-5357,-6145
Retained earnings,33248,31896,31548,31804,28033,28130,29391,29663,30967,32495,34010,35534,36769,39484,39742,37545
Total common stockholders' equity,37544,36170,34974,35353,30286,30500,30607,30546,31042,31950,31939,32859,32976,35146,34981,31315
Noncontrolling interests,287,286,252,248,213,212,194,172,180,129,125,122,98,93,69,72
Total equity,37831,36456,35226,35601,30499,30712,30801,30718,31222,32079,32064,32981,33074,35239,35050,31387
Total liabilities and equity,96054,94284,89772,87973,78004,74861,73362,70727,68936,70556,69980,71498,71261,70340,70514,65033

In [15]:
df_CFS = df.iloc[index_CFS-2:, 1:]
df_CFS.columns = df_CFS.iloc[0]
df_CFS.fillna(0, inplace=True)
df_CFS = df_CFS[1:]
df_CFS.set_index("in million USD", inplace=True)
df_CFS

68,Q2 '16,Q3 '16,Q4 '16,Q1 '17,Q2 '17,Q3 '17,Q4 '17,Q1 '18,Q2 '18,Q3 '18,Q4 '18,Q1 '19,Q2 '19,Q3 '19,Q4 '19,Q1 '20
in million USD,,,,,,,,,,,,,,,,
Net Income (Loss),-1058,-1026,-19,599,-3426,436,1598,900,1654,1873,1878,1846,1597,3071,743,-1711
"Depreciation, Depletion and Amortization",2329,2425,2061,1979,1625,1608,1633,1412,1438,1494,1612,1546,1490,1566,1488,1411
Impairments,62,123,-182,175,6294,6,126,12,-35,44,6,1,1,24,379,521
Dry hole costs and leasehold impairments,463,187,174,406,22,7,131,20,16,28,31,27,41,293,60,67
Accretion on discounted liabilities,112,108,96,95,92,89,86,88,89,89,87,86,87,86,67,67
Deferred taxes,-630,-695,-69,-1314,-1234,-222,-911,65,197,136,-115,-1,-220,-83,-140,-227
Undistributed equity earnings,-30,192,-115,-43,-78,-72,-39,-34,128,-105,163,24,338,-102,334,31
Gain on dispositions,-128,-51,-158,-22,-1876,-246,-33,-7,-55,-113,-888,-17,-82,-1785,-82,42
Other,109,-33,-35,-47,222,-542,-62,29,-267,15,414,-564,170,-426,-180,-284
Decrease (increase) in accounts and notes receivable,548,15,-292,78,235,-248,-951,139,316,-602,382,179,282,-128,172,1041
Decrease (increase) in inventories,-84,45,22,-76,73,-12,-40,12,-33,-144,251,-4,-73,75,-65,277
Decrease (increase) in prepaid expenses and other current assets,-60,97,59,10,-145,123,81,-22,-126,97,-4,62,-211,120,66,-79
Increase (Decrease) in Accounts Payable,0,-61,-9,-129,-49,-34,477,-181,-101,239,-9,-142,-184,-150,98,-297
Increase (decrease) in taxes and other accruals,-374,-46,-90,79,-4,162,385,-34,121,359,-25,-149,-345,-224,42,-445
Net cash provided by continuing operating activities,1259,-1680,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Net cash provided by operating activities,0,2960,1443,1790,1751,1055,2481,2399,3342,3410,3783,2894,2891,2337,2982,2105
Capital expenditures and investments,-1133,-916,-999,-966,-1020,-1088,-1517,-1535,-1999,-1599,-1617,-1637,-1729,-1675,-1595,-1649
Proceeds from asset dispositions,228,56,867,35,10707,2998,120,169,139,86,688,142,559,2219,92,549
Increase or decrease in capital accrual,-229,-38,70,-26,-87,95,150,28,-120,35,-11,0,0,0,-103,0
Working capital changes associated with investing activities,0,0,0,0,0,0,0,0,0,0,0,107,-83,-7,-17,81
Net sales (purchases) of short-term investments,-990,1063,178,-203,-2450,70,793,1593,-336,-261,624,-1,-484,-180,-2245,-935
Long-term advances/loans-related parties,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Collection of advances/loans-related parties,0,55,0,57,0,58,0,59,0,60,0,62,0,65,0,66
Other,2,55,-63,129,47,-125,-15,-392,367,41,138,-150,276,-272,38,-44
Net cash used in continuing investing activities,-2122,4187,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Net cash provided by (used in) investing activities,0,-3912,53,-974,7197,2008,-469,-78,-1949,-1638,-178,-1477,-1461,150,-3830,-1932
Issuance of debt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Repayment of debt,-763,-12,-1412,-839,-3240,-2515,-1282,-2888,-2064,-18,-25,-19,-19,-21,-21,-24
Change in restricted cash,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Issuance of Company common stock,-3,-7,-11,-46,-17,-2,2,-18,60,79,0,-38,2,-3,9,2
Repurchase of company common stock,0,0,-126,-112,-963,-970,-955,-500,-646,-927,-926,-752,-1250,-749,-749,-726
Dividends paid on company common stock,-313,-314,-313,-331,-331,-324,-319,-338,-337,-334,-354,-350,-346,-341,-463,-458
Other,-41,-14,-44,-16,-48,-16,-32,-32,-16,-63,-12,-14,-41,-18,-46,-24
Net cash used in continuing financing activities,-1120,-3017,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Net cash used in financing activities,0,2670,-1906,-1344,-4599,-3827,-2586,-3776,-3003,-1263,-1317,-1173,-1654,-1132,-1270,-1230
Effect of exchange rate changes on cash and cash equivalents,-20,19,-70,27,76,141,-12,125,-139,-26,-77,75,-49,-94,22,-122
Net change in cash and cash equivalents,-2003,1227,-480,-501,4425,-623,-586,-1330,-1749,483,2211,319,-273,1261,-2096,-1179

In [16]:
df_PL=df_PL.T
#Transposing to plot graph

In [17]:
df_PL.columns

Index(['Sales and other operating revenues',
       'Equity in earnings of affiliates', 'Gain on dispositions',
       'Other income', 'Total revenues and other income',
       'Purchased commodities', 'Production and operating expenses',
       'Selling, general and administrative expenses', 'Exploration expenses',
       'Depreciation, Depletion and Amortization', 'Impairments',
       'Taxes Other Than Income Taxes', 'Accretion on discounted liabilities',
       'Interest and debt expense',
       'Foreign currency transaction (gains) losses', 'Other expense',
       'Total costs and expenses', 'INCOME (LOSS) BEFORE INCOME TAXES',
       'Provision (benefit) for income taxes', 'Net Income (Loss)',
       'Less: Net income attributable to noncontrolling interests',
       'Net Income (Loss) Attributable to ConocoPhillips'],
      dtype='object', name='in million USD')

In [18]:
df_PL

in million USD,Sales and other operating revenues,Equity in earnings of affiliates,Gain on dispositions,Other income,Total revenues and other income,Purchased commodities,Production and operating expenses,"Selling, general and administrative expenses",Exploration expenses,"Depreciation, Depletion and Amortization",...,Accretion on discounted liabilities,Interest and debt expense,Foreign currency transaction (gains) losses,Other expense,Total costs and expenses,INCOME (LOSS) BEFORE INCOME TAXES,Provision (benefit) for income taxes,Net Income (Loss),Less: Net income attributable to noncontrolling interests,Net Income (Loss) Attributable to ConocoPhillips
2,,,,,,,,,,,,,,,,,,,,,
Q2 '16,5348,80,128,19,5575,2002,1445,167,610,2329,...,112,312,-17,0,7219,-1644,-586,-1058,-13,-1071
Q3 '16,6415,-60,51,110,6516,2819,1526,203,457,2425,...,108,335,13,0,8170,-1654,-628,-1026,-14,-1040
Q4 '16,6809,181,158,106,7254,2948,1318,-83,340,2061,...,96,317,-31,277,7262,-8,11,-19,-16,-35
Q1 '17,7518,200,22,31,7771,3192,1291,97,550,1979,...,95,315,10,68,8003,-232,-831,599,-13,586
Q2 '17,6781,178,1876,47,8882,2922,1325,95,97,1625,...,92,306,13,276,13243,-4361,-935,-3426,-14,-3440
Q3 '17,6688,196,246,65,7195,2926,1222,110,73,1608,...,89,251,5,77,6542,653,217,436,-16,420
Q4 '17,8119,198,33,386,8736,3435,1324,125,214,1633,...,86,226,7,30,7411,1325,-273,1598,-19,1579
Q1 '18,8798,208,7,-52,8961,3714,1171,99,95,1412,...,88,184,30,197,7185,1776,876,900,-12,888
Q2 '18,8504,265,55,416,9240,3064,1313,118,69,1438,...,89,177,-28,143,6621,2619,965,1654,-14,1640
Q3 '18,9449,294,113,309,10165,3530,1367,119,103,1494,...,89,186,5,10,7259,2906,1033,1873,-12,1861
Q4 '18,9666,307,888,-500,10361,3986,1362,65,102,1612,...,87,188,-24,25,7689,2672,794,1878,-10,1868
Q1 '19,9150,188,17,702,10057,3675,1271,153,110,1546,...,86,233,12,8,7370,2687,841,1846,-13,1833
Q2 '19,7953,173,82,172,8380,2674,1418,129,122,1490,...,87,165,28,14,6322,2058,461,1597,-17,1580
Q3 '19,7756,290,1785,262,10093,2710,1331,87,360,1566,...,86,184,-21,36,6600,3493,422,3071,-15,3056
Q4 '19,7708,128,82,222,8140,2783,1302,187,151,1488,...,67,196,47,7,6854,1286,543,743,-23,720
Q1 '20,6158,234,-42,-1539,4811,2661,1173,-3,188,1411,...,67,202,-90,-6,6374,-1563,148,-1711,-28,-1739

In [19]:
df_BS.T

in million USD,Assets,Cash and cash equivalents,Short-term investments,Accounts and notes receivable (net of allowance),Accounts and notes receivable-related parties,Investment in LUKOIL,Inventories,Investment in Cenovus Energy,Prepaid expenses and other current assets,Total current assets,...,Total liabilities,Common stock,Capital in excess of par,Treasury stock (at cost),Accumulated other comprehensive income (loss),Retained earnings,Total common stockholders' equity,Noncontrolling interests,Total equity,Total liabilities and equity
27,,,,,,,,,,,,,,,,,,,,,
Q2 '16,0,2863,1289,3144,172,0,1150,0,641,9259,...,58223,18,46429,-36780,-5371,33248,37544,287,37831,96054
Q3 '16,0,4090,234,3163,157,0,1108,0,889,9641,...,57828,18,46480,-36780,-5444,31896,36170,286,36456,94284
Q4 '16,0,3610,50,3249,165,0,1018,0,517,8609,...,54546,18,46507,-36906,-6193,31548,34974,252,35226,89772
Q1 '17,0,3109,252,3105,254,0,1097,0,2911,10728,...,52372,18,46510,-37018,-5961,31804,35353,248,35601,87973
Q2 '17,0,7534,2733,3020,143,1533,1019,0,3897,19879,...,47505,18,46558,-37981,-6342,28033,30286,213,30499,78004
Q3 '17,0,6911,2696,3222,142,2084,1023,0,876,16954,...,44149,18,46595,-38951,-5292,28130,30500,212,30712,74861
Q4 '17,0,6325,1873,4179,141,1899,1060,0,1035,16512,...,42561,18,46622,-39906,-5518,29391,30607,194,30801,73362
Q1 '18,0,4984,288,4032,160,1776,1053,0,894,13187,...,40009,18,46642,-40406,-5371,29663,30546,172,30718,70727
Q2 '18,0,3234,612,3750,180,2159,1093,0,580,11608,...,37714,18,46746,-41052,-5637,30967,31042,180,31222,68936
Q3 '18,0,3716,875,4319,180,2086,1239,0,2308,14723,...,38477,18,46858,-41979,-5442,32495,31950,129,32079,70556
Q4 '18,0,5915,248,3920,147,1462,1007,0,575,13274,...,37916,18,46879,-42905,-6063,34010,31939,125,32064,69980
Q1 '19,0,6218,249,3701,168,0,1014,1805,528,13683,...,38517,18,46877,-43656,-5914,35534,32859,122,32981,71498
Q2 '19,0,5941,732,3490,161,0,1089,1835,2552,15800,...,38187,18,46922,-44906,-5827,36769,32976,98,33074,71261
Q3 '19,0,7193,908,3478,138,0,955,1951,594,15217,...,35101,18,46954,-45656,-5654,39484,35146,93,35239,70340
Q4 '19,0,5088,3028,3267,134,0,1026,2111,2259,16913,...,35464,18,46983,-46405,-5357,39742,34981,69,35050,70514
Q1 '20,0,3908,3866,2116,148,0,726,420,1960,13144,...,33646,18,47027,-47130,-6145,37545,31315,72,31387,65033

In [21]:
df_BS =  df_BS.T

In [22]:
df_BS

in million USD,Assets,Cash and cash equivalents,Short-term investments,Accounts and notes receivable (net of allowance),Accounts and notes receivable-related parties,Investment in LUKOIL,Inventories,Investment in Cenovus Energy,Prepaid expenses and other current assets,Total current assets,...,Total liabilities,Common stock,Capital in excess of par,Treasury stock (at cost),Accumulated other comprehensive income (loss),Retained earnings,Total common stockholders' equity,Noncontrolling interests,Total equity,Total liabilities and equity
27,,,,,,,,,,,,,,,,,,,,,
Q2 '16,0,2863,1289,3144,172,0,1150,0,641,9259,...,58223,18,46429,-36780,-5371,33248,37544,287,37831,96054
Q3 '16,0,4090,234,3163,157,0,1108,0,889,9641,...,57828,18,46480,-36780,-5444,31896,36170,286,36456,94284
Q4 '16,0,3610,50,3249,165,0,1018,0,517,8609,...,54546,18,46507,-36906,-6193,31548,34974,252,35226,89772
Q1 '17,0,3109,252,3105,254,0,1097,0,2911,10728,...,52372,18,46510,-37018,-5961,31804,35353,248,35601,87973
Q2 '17,0,7534,2733,3020,143,1533,1019,0,3897,19879,...,47505,18,46558,-37981,-6342,28033,30286,213,30499,78004
Q3 '17,0,6911,2696,3222,142,2084,1023,0,876,16954,...,44149,18,46595,-38951,-5292,28130,30500,212,30712,74861
Q4 '17,0,6325,1873,4179,141,1899,1060,0,1035,16512,...,42561,18,46622,-39906,-5518,29391,30607,194,30801,73362
Q1 '18,0,4984,288,4032,160,1776,1053,0,894,13187,...,40009,18,46642,-40406,-5371,29663,30546,172,30718,70727
Q2 '18,0,3234,612,3750,180,2159,1093,0,580,11608,...,37714,18,46746,-41052,-5637,30967,31042,180,31222,68936
Q3 '18,0,3716,875,4319,180,2086,1239,0,2308,14723,...,38477,18,46858,-41979,-5442,32495,31950,129,32079,70556
Q4 '18,0,5915,248,3920,147,1462,1007,0,575,13274,...,37916,18,46879,-42905,-6063,34010,31939,125,32064,69980
Q1 '19,0,6218,249,3701,168,0,1014,1805,528,13683,...,38517,18,46877,-43656,-5914,35534,32859,122,32981,71498
Q2 '19,0,5941,732,3490,161,0,1089,1835,2552,15800,...,38187,18,46922,-44906,-5827,36769,32976,98,33074,71261
Q3 '19,0,7193,908,3478,138,0,955,1951,594,15217,...,35101,18,46954,-45656,-5654,39484,35146,93,35239,70340
Q4 '19,0,5088,3028,3267,134,0,1026,2111,2259,16913,...,35464,18,46983,-46405,-5357,39742,34981,69,35050,70514
Q1 '20,0,3908,3866,2116,148,0,726,420,1960,13144,...,33646,18,47027,-47130,-6145,37545,31315,72,31387,65033

In [23]:
del(df_BS["Assets"])

In [24]:
df_BS

in million USD,Cash and cash equivalents,Short-term investments,Accounts and notes receivable (net of allowance),Accounts and notes receivable-related parties,Investment in LUKOIL,Inventories,Investment in Cenovus Energy,Prepaid expenses and other current assets,Total current assets,Investments and long-term receiavables,...,Total liabilities,Common stock,Capital in excess of par,Treasury stock (at cost),Accumulated other comprehensive income (loss),Retained earnings,Total common stockholders' equity,Noncontrolling interests,Total equity,Total liabilities and equity
27,,,,,,,,,,,,,,,,,,,,,
Q2 '16,2863,1289,3144,172,0,1150,0,641,9259,21385,...,58223,18,46429,-36780,-5371,33248,37544,287,37831,96054
Q3 '16,4090,234,3163,157,0,1108,0,889,9641,21283,...,57828,18,46480,-36780,-5444,31896,36170,286,36456,94284
Q4 '16,3610,50,3249,165,0,1018,0,517,8609,21091,...,54546,18,46507,-36906,-6193,31548,34974,252,35226,89772
Q1 '17,3109,252,3105,254,0,1097,0,2911,10728,21153,...,52372,18,46510,-37018,-5961,31804,35353,248,35601,87973
Q2 '17,7534,2733,3020,143,1533,1019,0,3897,19879,9681,...,47505,18,46558,-37981,-6342,28033,30286,213,30499,78004
Q3 '17,6911,2696,3222,142,2084,1023,0,876,16954,9696,...,44149,18,46595,-38951,-5292,28130,30500,212,30712,74861
Q4 '17,6325,1873,4179,141,1899,1060,0,1035,16512,9599,...,42561,18,46622,-39906,-5518,29391,30607,194,30801,73362
Q1 '18,4984,288,4032,160,1776,1053,0,894,13187,9572,...,40009,18,46642,-40406,-5371,29663,30546,172,30718,70727
Q2 '18,3234,612,3750,180,2159,1093,0,580,11608,9435,...,37714,18,46746,-41052,-5637,30967,31042,180,31222,68936
Q3 '18,3716,875,4319,180,2086,1239,0,2308,14723,9553,...,38477,18,46858,-41979,-5442,32495,31950,129,32079,70556
Q4 '18,5915,248,3920,147,1462,1007,0,575,13274,9329,...,37916,18,46879,-42905,-6063,34010,31939,125,32064,69980
Q1 '19,6218,249,3701,168,0,1014,1805,528,13683,9302,...,38517,18,46877,-43656,-5914,35534,32859,122,32981,71498
Q2 '19,5941,732,3490,161,0,1089,1835,2552,15800,8748,...,38187,18,46922,-44906,-5827,36769,32976,98,33074,71261
Q3 '19,7193,908,3478,138,0,955,1951,594,15217,8916,...,35101,18,46954,-45656,-5654,39484,35146,93,35239,70340
Q4 '19,5088,3028,3267,134,0,1026,2111,2259,16913,8687,...,35464,18,46983,-46405,-5357,39742,34981,69,35050,70514
Q1 '20,3908,3866,2116,148,0,726,420,1960,13144,8707,...,33646,18,47027,-47130,-6145,37545,31315,72,31387,65033